extends layout.pug

block content
  article.portfolio-intro
    h1 Server Error 
    h2 Error status code: #{err.status} - Server Error
    h3 #{err.message}
    
    a.btn-link(href='/') Home
    //- pre #{err.stack}