extends layout.pug

block content

  article.portfolio-intro
 
    h1 Welcome!

    p Hello and Welcome to my portfolio! Built using Express.js and the Pug template engine, this site allows me to showcase the skills I've gained in Full-Stack JavaScript Development. Check out some of my recent projects below!

  article.portfolio-project-thumbs
    .projects-box.box.grid
 
      each project in projects

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}

